/* 
    Document   : style
    Created on : 2013-06-05, 20:15:05
    Author     : Usager
    Description:
        Purpose of the stylesheet follows.
*/

#banner { 
   
    border-color: gray;
    background-color:graytext;
    text-align: center;
    background-repeat:no-repeat;
    background-size: 100%;
    background-image: url("../imageProjetNadia/banniere-bibli.jpg ");
    padding-right: 25px;
    height: 60px;
 
   
   
}
#footer {
    border : solid 3px;
    border-color: black;
    background-color:black;    
    clear: both;
    font-size: 80%;
    padding: 10px 10px;
    color:white;
    padding-top: 15 px;

}
.warningMessage {
	color : red;
}
#loginForm {
	border-color : #990;/*gray;*/
	border-width : 1px;
	border-style : solid;
	width : 180px;
	text-align : left;
	padding : 10px;
	margin : 20px 100px;
	background-color : #eee;
}



section{
    padding-left: 0px ;
    
    
}
img{
    
         border-radius: 8px;
}

.container{ 
    background-color: #e8e8e8;
}

#banner{
    font-style:oblique;
    font-weight: bold;
    text-align: center;
   
}
